body {
  background-color: beige;
  color: black;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

#container {
  background-color: rgb(216, 197, 172);
  border: 8px solid rgb(44, 44, 44);
  width: 800px;
  height: 800px;
  margin: 2rem auto;
}

form {
  max-width: 60%;
  margin: 5rem auto 0;
}

#search__UI {
  padding: 1rem;
}

#displayed__country {
  width: 80%;
  /* height: 500px; */
  margin: 2rem auto;
  display: grid;
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "flag country__name"
    "country__location country__info"; */
}

#country__name {
  /* background-color: yellow; */
  text-align: center;
  /* grid-area: country__name; */
}
#country__location {
  /* grid-area: country__location; */
  /* background-color: blue; */
  margin: auto;
}
#country__flag {
  margin: auto;
  img {
    max-height: 60%;
    /* grid-area: flag; */
  }
}
#country__info {
  /* grid-area: country__info; */
  /* background-color: red; */
  margin: auto;
}
