body {
  background-color: beige;
  color: black;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

#container {
  background-color: rgb(216, 197, 172);
  border: 8px solid rgb(44, 44, 44);
  width: 800px;
  height: 800px;
  margin: 2rem auto;
}

form {
  max-width: 60%;
  margin: 5rem auto 0;
}

#search__UI {
  padding: 1rem;
}

#displayed__country {
  width: 80%;
  height: 500px;
  background-color: brown;
  margin: 2rem auto;
}
